[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[user]
    name = ksingh7
    email = karan.singh731987@gmail.com
[core]
    excludesfile = ~/.gitignore
